<br/>
<h2>Who we are</h2>

<a href="{{ site.baseurl }}/people.html">More info »</a><br><br>

<div class="teambox-container">
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-cortesi-agostino.png">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-ferrara-pietro.png">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-falcarin-paolo.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-spano-alvise.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-perezgort-maikel.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-caiazza-gianluca.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-negrini-luca.jpeg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-olivieri-luca.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-das-souvick.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-bag-raunak.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-dolcetti-greta.png">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-zanatta-giacomo.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-boldini-giacomo.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-chowdhury-purbasha.jpg">
  	</div>
	<div class="teambox-card-container teambox-card-width">
    	<img class="teambox-img" src="{{ site.baseurl }}/images/pfp-arceri-vincenzo.jpg">
  	</div>
</div>

<div class="div-img-table">
  <div class="div-img-table-row">
    <img class="div-img-table-multicol" src="{{ site.baseurl }}/images/{{ site.groupphoto }}"/>
  </div>
</div>
