// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.div-img-table {
	display: table;
	width: 100%;
	border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-img-table-row {
	display: table-row;
	clear: both;
}
.div-img-table-col {
	float: left; /* fix for  buggy browsers */
	display: table-column;
	width: 32.5%;
	margin: 0 3px;
}
.div-img-table-multicol {
	float: left; /* fix for  buggy browsers */
	display: table-column;
	width: 99.2%;
	margin: 0 3px;
}

.div-person-table {
	display: table;
	width: 100%;
	border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-person-table-row {
	display: table-row;
	clear: both;
}
.div-person-table-col {
	float: left; /* fix for  buggy browsers */
	display: table-column;
	width: 20%;
}
.div-person-table-multicol {
	float: left; /* fix for  buggy browsers */
	display: table-column;
	width: 75%;
	margin: 0 0 0 40px;
}
.div-person-table-multicol > h3, .div-person-table-multicol > h5 {
	margin-top: 10px;
}

ul.list-page {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}
ul.list-page > li {
  margin-bottom: 15px; 
}