---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h3>Latest news</h3>
  <ul>
  {% for post in site.categories.news limit: 2 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a><br/>
      <small>{{ post.date | date: "%-d %B %Y" }}</small>
    </li>
  {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}/news/">All news ({{ site.categories.news.size }}) &gt;&gt;</a><br><br>

  <h3>Latest events</h3>
  <ul>
  {% for post in site.categories.events limit: 2 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a><br/>
      <small>{{ post.date | date: "%-d %B %Y" }}</small>
    </li>
  {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}/events/">All events ({{ site.categories.events.size }}) &gt;&gt;</a><br><br>

  <div class="div-img-table">
    <div class="div-img-table-row">
      <img class="div-img-table-col" src="{{ site.baseurl }}/images/home-1.jpg"/>
      <img class="div-img-table-col" src="{{ site.baseurl }}/images/home-2.jpg"/>
      <img class="div-img-table-col" src="{{ site.baseurl }}/images/home-3.jpg"/> 
    </div>
    <div class="div-img-table-row">
      <img class="div-img-table-col" src="{{ site.baseurl }}/images/home-4.jpg"/>
      <img class="div-img-table-col" src="{{ site.baseurl }}/images/home-5.jpg"/>
      <img class="div-img-table-col" src="{{ site.baseurl }}/images/home-6.jpg"/>
    </div>
    <div class="div-img-table-row">
      <img class="div-img-table-multicol" src="{{ site.baseurl }}/images/home-big.jpg"/>
    </div>
  </div>

</div>
